div.box {
    float: left;
    height: auto;
}

div.div1 {
    float: left;
    height: auto;
}

div.div2 {
    height: auto;
    display: inline;
    position: absolute;
}

div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 0pt;
    margin-top: -1px;
}

.res {
    border: 1px solid transparent;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
}

.res:hover {
    background-color: aliceblue;
}

.res span {
    float: left;
}

.textinput {
    width: 40%;
}

.invisible {
    display: none;
}

.inlineProp {
    display: inline;
}

.boatContent {
    display: inline-block;
    width: 50%;
    float: left;
}

hr {
    float: left;
    width: 100%;
    margin-top: 10px;
    border-color: #94cdba;
}

.dimension hr {
    margin: 5px;
}

p {
    float: left;
}

h3 {
    float: left;
    color: #004237;
    font-weight: bold;
    margin: 0;
!important;

}

h4 {
    float: left;
    font-weight: lighter;
!important;

}

.topNav {
    height: 100px;
    background-color: #004237;
    margin-bottom: 30px;
}

.topNav img {
    height: 100px;
}

.loginNav {
    height: 30px;
    background-color: #94cdba;
}

.boatLink {
    color: #004237;
    text-decoration: none;
    float: left;
    width: 100%;
}

.boatLink:hover {
    color: #004237;
    text-decoration: none;
    cursor: pointer !important;
    font-weight: bold;
}

.boatLink p:hover {
    font-weight: bold;

}

.btn-search {
    background-color: #004237;
    color: #94cdba;
}

.btn-search:hover {
    background-color: #004230;
    color: #94cdba;
    font-weight: 400;
}

.input:focus {
    outline: none !important;
    border: 1px solid #004237;
    box-shadow: 0 0 10px #94cdba;
}

.image-rounded {
    float: left;
    margin: 10px 0;
    border-radius: 5px;
    height: 100px;
    /*width: 25%;*/
}

/*new style*/
.slideImages {
    float: right;
}

.w3-display-right {
    right: 3%;
}

.w3-display-left {
    left: 3%;
}

.foot {
    margin-top: 30px;
    height: 200px;
    background-color: #94cdba;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.mySlides {
    height: 400px;
    display: inherit;
    width: 100%;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

tbody tr:hover {
    font-weight: bold;
    background-color: #94cdba;
}

.sArea button {
    background-color: #004237;
    color: white;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 500px;
    width: 100%;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.img-fix {
    border: 1px transparent;
    border-radius: 5px;
    margin-bottom: 7px;
}

label.p {
    font-weight: 200;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 25px;
    padding-top: 2px;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Shrikhand', cursive;
    background-color: lightgray;
}

.slideImagesFix {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
}

span {
    font-weight: lighter;
!important;
    text-underline: dash;
}

#pagination {
    width: 100%;
}

.categoryBackground {
    background-color: #94cdba;
}
